.fh__hero-section {
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 90%;
    align-items: flex-end;
    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }
  .fh__scroll-down {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 169.4%; /* 23.716px */
    letter-spacing: 0.735px;

    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-direction: column;
      svg {
        animation: animate 1.5s linear infinite;
      }
      @keyframes animate {
        0% {
          transform-origin: top;
          transform: scaleY(0);
        }
        45% {
          transform-origin: top;
          transform: scaleY(1);
        }
        55% {
          transform-origin: bottom;
          transform: scaleY(1);
        }
        100% {
          transform-origin: bottom;
          transform: scaleY(0);
        }
      }
    }
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  &-content {
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px);
    padding: 6rem;
    @media screen and (max-width: 800px) {
      backdrop-filter: none;
    }
    @media screen and (max-width: 600px) {
      padding: 4rem;
    }
    h1 {
      color: #333;
      font-size: 4rem;
      font-weight: 700;
      margin: 0rem 4rem;
      @media screen and (max-width: 600px) {
        margin: 0rem;
      }
      b {
        font-size: 8rem;
        @media screen and (max-width: 600px) {
          font-size: 6rem;
        }
      }
    }
    .meta-link {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin: 4rem 4rem;
      @media screen and (max-width: 600px) {
        margin: 4rem 0rem;
      }
    }
  }
  .fh__trusted-partners {
    &-title {
      color: #333;
      text-align: center;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 5rem;
    }
    &-group {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 5rem;
    }
  }
}
